.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.boxitem {
  flex: 0 1 calc(33% - 10px); /* three elements per row */
  margin-bottom: 10px;
}

#title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  position: relative;
  top: 3vh;
}

mat-form-field {
  width: 100%;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

#btncalcul {
  position: relative;
  top: 1vh;
}

#btnreset {
  position: relative;
  top: 1vh;
  margin-right: 0.5vw;
}

#result {
  position: fixed;
  top: 85vh;
  left: 60vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#result:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#result p {
  padding: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 22px;
}

@media screen and (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
      margin: 0 10px; /* Outer margin on mobile */
  }

  .boxitem {
      flex: 0 1 100%;
      margin-bottom: 10px;
  }

  #result {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      font-size: 16px;
      height: 70px;
      left: 10vw;
      top: 90vh;
  }
}
